<template>
  <div class="dashboard-editor-container">
    <!--<github-corner style="position: absolute; top: 0px; border: 0; right: 0;" />-->

    <panel-group v-bind:asistencias="asistenciashoy" v-bind:inasistencias="inasistenciashoy" @handleSetLineChartData="handleSetLineChartData" />

    <el-row style="background: #fff; padding: 16px 16px 0; margin-bottom: 32px">
      <line-chart :chart-data="lineChartData" />
    </el-row>

    <!--<el-row :gutter="32">
      <el-col :xs="24" :sm="24" :lg="12">
        <div class="chart-wrapper">
          <pie-chart />
        </div>
      </el-col>
      <el-col :xs="24" :sm="24" :lg="12">
        <div class="chart-wrapper">
          <bar-chart />
        </div>
      </el-col>
    </el-row>

    <el-row :gutter="8">
      <el-col
        :xs="{ span: 24 }"
        :sm="{ span: 24 }"
        :md="{ span: 24 }"
        :lg="{ span: 24 }"
        :xl="{ span: 24 }"
        style="padding-right: 8px; margin-bottom: 30px"
      >
        <transaction-table />
      </el-col>
    </el-row>-->
  </div>
</template>

<script>
// import axios from 'axios';
import { fetchPanel } from '@/api/assist';
// import GithubCorner from '@/components/GithubCorner';
import PanelGroup from './components/PanelGroup';
import LineChart from './components/LineChart';
// import RaddarChart from './components/RaddarChart';
// import PieChart from './components/PieChart';
// import BarChart from './components/BarChart';
// import TransactionTable from './components/TransactionTable';
// import TodoList from './components/TodoList';
// import BoxCard from './components/BoxCard';

const lineChartData = {
  newVisitis: {
    expectedData: [100, 120, 161, 134, 105, 160, 165],
    actualData: [120, 82, 91, 154, 162, 140, 145],
  },
  messages: {
    expectedData: [200, 192, 120, 144, 160, 130, 140],
    actualData: [180, 160, 151, 106, 145, 150, 130],
  },
  purchases: {
    expectedData: [80, 100, 121, 104, 105, 90, 100],
    actualData: [120, 90, 100, 138, 142, 130, 130],
  },
  shoppings: {
    expectedData: [130, 140, 141, 142, 145, 150, 160],
    actualData: [120, 82, 91, 154, 162, 140, 130],
  },
};

export default {
  name: 'DashboardAdmin',
  components: {
    // GithubCorner,
    PanelGroup,
    LineChart,
    // RaddarChart,
    // PieChart,
    // BarChart,
    // TransactionTable,
    // TodoList,
    // BoxCard,
  },
  data() {
    return {
      lineChartData: lineChartData.newVisitis,
      asistenciashoy: 0,
      inasistenciashoy: 0,
    };
  },
  created() {
    this.cargarDatos();
  },
  methods: {
    handleSetLineChartData(type) {
      this.lineChartData = lineChartData[type];
    },
    async cargarDatos() {
      fetchPanel().then((response) => {
        const asistencias = [];
        const inasistencias = [];
        let total = 0;
        console.log('response');
        console.log(response);
        for (const key in response.data){
          if (key !== 'total'){
            console.log(response.data[key][0].asistencia);
            asistencias.push(response.data[key][0].asistencia);
          } else {
            total = response.data[key][0].total;
          }
        }
        asistencias.reverse();
        console.log(asistencias);
        console.log(total);
        for (const x of asistencias) {
          inasistencias.push(total - x);
        }
        console.log(inasistencias);
        /* this.list = response.data.items;
        console.log('this.list');
        console.log(this.list);
        this.listLoading = false; */
        lineChartData.newVisitis.expectedData = inasistencias;
        lineChartData.newVisitis.actualData = asistencias;
        this.asistenciashoy = asistencias[6];
        this.inasistenciashoy = inasistencias[6];
      });
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard-editor-container {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }
}
</style>
