<template>
  <div class="login-container">
    <el-form
      ref="loginForm"
      :model="loginForm"
      :rules="loginRules"
      class="login-form"
      auto-complete="on"
      label-position="left"
    >
      <h3 class="title">Grupo García Toledo S.A.C.</h3>
      <!--<lang-select class="set-language" />-->
      <!--<el-form-item prop="email">
        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
        <el-input v-model="loginForm.email" name="email" type="text" auto-complete="on" :placeholder="$t('login.email')" />
      </el-form-item>-->
      <el-form-item prop="name">
        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
        <el-input
          v-model="loginForm.name"
          placeholder="Ingrese su usuario"
          name="name"
          type="text"
          auto-complete="on"
        />
      </el-form-item>
      <el-form-item prop="password">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input
          v-model="loginForm.password"
          :type="pwdType"
          name="password"
          auto-complete="on"
          placeholder="Ingrese su contraseña"
          @keyup.enter.native="handleLogin"
        />
        <span class="show-pwd" @click="showPwd">
          <svg-icon icon-class="eye" />
        </span>
      </el-form-item>
      <el-form-item>
        <el-row>
          <el-col :span="12">
            <el-button
              type="success"
              style="width: 100%"
              :loading="cargando"
              @click.native.prevent="handleEntrance"
              >
              Entrada
            </el-button>
          </el-col>
          <el-col :span="12">
            <el-button
              type="danger"
              style="width: 100%"
              :loading="cargando"
              @click.native.prevent="handleExit"
              >Salida
            </el-button>
          </el-col>
        </el-row>
      </el-form-item>
      <el-form-item>
        <el-link
          :loading="loading"
          type="primary"
          style="width: 100%"
          @click.native.prevent="handleLogin"
          >Ingresar al Sistema
        </el-link>
      </el-form-item>
      <!--<div class="tips">
        <span style="margin-right:20px;">Email: admin@laravue.dev</span>
        <span>Password: laravue</span>
      </div>-->
      <el-form-item v-if="dispositivo == 0">
        <h6 class="tips">ADVERTENCIA: Este dispositivo no está registrado en el sistema. Cualquier asistencia marcada será registrada en el sistema como no válida.</h6>
      </el-form-item>
      <el-form-item v-else>
        <el-table :data="tableData" style="width: 100%">
          <el-table-column prop="date" label="Fecha" min-width="80" />
          <el-table-column prop="name" label="Nombre" min-width="100" />
          <el-table-column prop="address" label="Tipo" min-width="40" />
        </el-table>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
// import LangSelect from '@/components/LangSelect';
// import { validEmail } from '@/utils/validate';
import { validAlphabets } from '@/utils/validate';
import { csrf } from '@/api/auth';
import { listarAssist } from '@/api/assist';

export default {
  name: 'Login',
  // components: { LangSelect },
  data() {
    const validateEmail = (rule, value, callback) => {
      if (!validAlphabets(value)) {
        callback(new Error('Nombre de usuario incorrecto'));
      } else {
        callback();
      }
    };
    const validatePass = (rule, value, callback) => {
      if (value.length < 4) {
        callback(new Error('Contraseña incorrecta'));
      } else {
        callback();
      }
    };
    return {
      loginForm: {
        /* name: 'admin@laravue.dev',
        password: 'laravue', */
        name: '',
        password: '',
      },
      loginRules: {
        // email: [{ required: true, trigger: 'blur', validator: validateEmail }],
        name: [{ required: true, trigger: 'blur', validator: validateEmail }],
        password: [
          { required: true, trigger: 'blur', validator: validatePass },
        ],
      },
      dispositivo: 0,
      cargando: false,
      loading: false,
      pwdType: 'password',
      redirect: undefined,
      otherQuery: {},
      /* tableData: [
        {
          date: '2016-05-03',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          date: '2016-05-02',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          date: '2016-05-04',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          date: '2016-05-01',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
      ], */
      tableData: [],
    };
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query;
        if (query) {
          this.redirect = query.redirect;
          this.otherQuery = this.getOtherQuery(query);
        }
      },
      immediate: true,
    },
  },
  beforeCreate() {
    console.log('beforeCreate');
  },
  created() {
    console.log('created');
  },
  beforeMount() {
    console.log('beforeMount');
  },
  beforeUpdate() {
    console.log('beforeUpdate');
  },
  update() {
    console.log('update');
  },
  beforeDestroy() {
    console.log('beforeDestroy');
  },
  mounted() {
    console.log('mounted login');
    listarAssist().then(response => {
      console.log(response);
      this.tableData = response.assists;
      this.dispositivo = response.dispositivo;
    });
  },
  methods: {
    showPwd() {
      if (this.pwdType === 'password') {
        this.pwdType = '';
      } else {
        this.pwdType = 'password';
      }
    },
    handleLogin() {
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.loading = true;
          csrf().then(() => {
            console.log('Regresando de Csrf');
            console.log('this.loginForm');
            console.log(this.loginForm);
            this.$store
              .dispatch('user/login', this.loginForm)
              .then(() => {
                console.log('Enviando a router desde handleLogin');
                console.log('this.redirect');
                console.log(this.redirect);
                this.$router.push(
                  { path: this.redirect || '/', query: this.otherQuery },
                  (onAbort) => {}
                );
                this.loading = false;
              })
              .catch((e) => {
                this.loading = false;
                console.log('Error:');
                console.log(e);
              });
          });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    handleEntrance() {
      this.cargando = true;
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.loading = true;
          csrf().then(() => {
            console.log('Regresando de Csrf');
            console.log('this.loginForm');
            console.log(this.loginForm);
            console.log(this.$store);
            this.$store
              .dispatch('user/entradauser', this.loginForm)
              .then(() => {
                console.log('Enviando a router desde handleEntrance');
                console.log('this.redirect');
                console.log(this.redirect);
                this.redirect = '/';
                console.log('this.otherQuery');
                console.log(this.otherQuery);
                // this.$router.push({ path: '/', query: this.otherQuery }, onAbort => {});
                this.loading = false;
                const h = this.$createElement;
                this.$notify({
                  title: 'Entrada Registrada',
                  message: h(
                    'i',
                    { style: 'color: green' },
                    'Usuario registrado: ' + this.loginForm.name
                  ),
                  type: 'success',
                });
                this.loginForm.name = '';
                this.loginForm.password = '';
                this.cargando = false;
                listarAssist().then(response => {
                  console.log(response);
                  this.tableData = response.assists;
                  this.dispositivo = response.dispositivo;
                });
              })
              .catch((e) => {
                this.loading = false;
                console.log('Error:');
                console.log(e);
                this.loginForm.name = '';
                this.loginForm.password = '';
                this.cargando = false;
              });
          });
        } else {
          console.log('error submit!!');
          this.loginForm.name = '';
          this.loginForm.password = '';
          this.cargando = false;
          return false;
        }
      });
    },
    handleExit() {
      this.cargando = true;
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.loading = true;
          csrf().then(() => {
            console.log('Regresando de Csrf');
            console.log('this.loginForm');
            console.log(this.loginForm);
            this.$store
              .dispatch('user/salidauser', this.loginForm)
              .then(() => {
                console.log('Enviando a router desde handleExit');
                // this.$router.push({ path: '/', query: this.otherQuery }, onAbort => {});
                this.loading = false;
                const h = this.$createElement;
                this.$notify.info({
                  title: 'Salida Registrada',
                  message: h(
                    'i',
                    { style: 'color: red' },
                    'Usuario registrado: ' + this.loginForm.name
                  ),
                });
                this.loginForm.name = '';
                this.loginForm.password = '';
                this.cargando = false;
                listarAssist().then(response => {
                  console.log(response);
                  this.tableData = response.assists;
                  this.dispositivo = response.dispositivo;
                });
              })
              .catch((e) => {
                this.loading = false;
                console.log('Error:');
                console.log(e);
                this.loginForm.name = '';
                this.loginForm.password = '';
                this.cargando = false;
              });
          });
        } else {
          console.log('error submit!!');
          this.loginForm.name = '';
          this.loginForm.password = '';
          this.cargando = false;
          return false;
        }
      });
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== 'redirect') {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss">
$bg: #2d3a4b;
$light_gray: #eee;

/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;
    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 47px;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: #fff !important;
      }
    }
  }
  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
}
</style>

<style rel="stylesheet/scss" lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;
.login-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $bg;
  .login-form {
    position: absolute;
    left: 0;
    right: 0;
    width: 520px;
    max-width: 100%;
    padding: 35px 35px 15px 35px;
    margin: 120px auto;
  }
  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }
  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }
  .title {
    font-size: 26px;
    color: $light_gray;
    margin: 0px auto 40px auto;
    text-align: center;
    font-weight: bold;
  }
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
  .set-language {
    color: #fff;
    position: absolute;
    top: 40px;
    right: 35px;
  }
}
@media screen and (orientation: landscape) and (max-width: 1024px) {
  .login-container {
    position: relative;
    overflow-y: auto;
    .login-form {
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      margin: auto;
    }
  }
}
</style>
