<template>
  <!-- $t is vue-i18n global function to translate lang -->
  <div class="app-container">
    <div class="block">
      <span class="demonstration">Elegir Fechas:</span>
      <el-date-picker
        v-model="value2"
        type="datetimerange"
        :picker-options="pickerOptions"
        range-separator="-"
        start-placeholder="Fecha de Inicio"
        end-placeholder="Fecha de Fin"
        align="right"
      />
    </div>

    <div>
      <template>
        <span class="demonstration">Elegir Usuario:</span>
        <el-select
          v-model="valueUser"
          multiple
          filterable
          remote
          reserve-keyword
          placeholder="Ingresa el DNI o el nombre"
          :remote-method="remoteMethod"
          :loading="loadingUser"
        >
          <el-option
            v-for="item in optionsUser"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </template>
    </div>

    <div>
      <template>
        <span class="demonstration">Elegir la Sede:</span>
        <el-select v-model="valueSede" multiple placeholder="Seleccione una sede">
          <el-option
            v-for="item in optionsSede"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </template>
    </div>

    <div>
      <el-button
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="fetchData"
      >
        Generar Reporte
      </el-button>
    </div>

    <!--<el-table v-loading="listLoading" :data="list" element-loading-text="拼命加载中" border fit highlight-current-row>
      <el-table-column align="center" label="Id" width="95">
        <template slot-scope="scope">
          {{ scope.$index }}
        </template>
      </el-table-column>
      <el-table-column label="Title">
        <template slot-scope="scope">
          {{ scope.row.title }}
        </template>
      </el-table-column>
      <el-table-column label="Author" width="110" align="center">
        <template slot-scope="scope">
          <el-tag>{{ scope.row.author }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="Readings" width="115" align="center">
        <template slot-scope="scope">
          {{ scope.row.pageviews }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="Date" width="220">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ scope.row.timestamp | parseTime('{y}-{m}-{d} {h}:{i}') }}</span>
        </template>
      </el-table-column>
    </el-table>-->
    <el-table
      :data="list"
      empty-text="No hay asistencias por mostrar"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="Id" min-width="80px">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column label="Nombres" min-width="150px" align="center">
        <template slot-scope="scope">
          {{ scope.row.nombres }}
        </template>
      </el-table-column>
      <el-table-column label="A. Paterno" min-width="120px" align="center">
        <template slot-scope="scope">
          {{ scope.row.paterno }}
        </template>
      </el-table-column>
      <el-table-column label="A. Materno" min-width="120px" align="center">
        <template slot-scope="scope">
          {{ scope.row.materno }}
        </template>
      </el-table-column>
      <el-table-column label="Tipo" min-width="100px" align="center">
        <template slot-scope="scope">
          {{ scope.row.tipo }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="Fecha" min-width="150px">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{
            scope.row.created_at | parseTime('{y}-{m}-{d} {h}:{i}')
          }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Sede" min-width="150px" align="center">
        <template slot-scope="scope">
          {{ scope.row.sede }}
        </template>
      </el-table-column>
      <el-table-column label="Lugar" min-width="150px" align="center">
        <template slot-scope="scope">
          {{ scope.row.lugar }}
        </template>
      </el-table-column>
    </el-table>

    <div>
      <FilenameOption v-model="filename" />
      <AutoWidthOption v-model="autoWidth" />
      <BookTypeOption v-model="bookType" />
      <el-button
        :loading="downloadLoading"
        style="margin: 0 0 20px 20px"
        type="primary"
        icon="document"
        @click="handleDownload"
      >
        Exportar Archivo
      </el-button>
      <!--<a href="https://panjiachen.github.io/vue-element-admin-site/feature/component/excel.html" target="_blank" style="margin-left:15px;">
        <el-tag type="info">Documentation</el-tag>
      </a>-->
    </div>
  </div>
</template>

<script>
import { fetchList, listar, listarSede } from '@/api/assist';
import { parseTime } from '@/utils';
// options components
import FilenameOption from './components/FilenameOption';
import AutoWidthOption from './components/AutoWidthOption';
import BookTypeOption from './components/BookTypeOption';
export default {
  name: 'ExportExcel',
  components: { FilenameOption, AutoWidthOption, BookTypeOption },
  data() {
    return {
      list: null,
      listLoading: true,
      downloadLoading: false,
      filename: '',
      autoWidth: true,
      bookType: 'xlsx',
      pickerOptions: {
        shortcuts: [
          {
            text: 'Día',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24);
              picker.$emit('pick', [start, end]);
            },
          },
          {
            text: 'Semana',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            },
          },
          {
            text: 'Mes',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            },
          },
        ],
      },
      // value1: [new Date(2000, 10, 10, 10, 10), new Date(2000, 10, 11, 10, 10)],
      value1: [new Date().getTime() - 3600 * 1000 * 24, new Date().getTime()],
      value2: '',
      optionsUser: [],
      valueUser: [],
      listUser: [],
      loadingUser: false,
      users: [],
      optionsSede: [],
      valueSede: [],
    };
  },
  created() {
    // this.fetchData();
  },
  mounted() {
    console.log('mounted export excel');
    listar().then(response => {
      console.log(response);
      this.users = response;
      this.listUser = this.users.map(item => {
        // return { value: `value:${item.id}`, label: `label:${item.users}` };
        return { value: `${item.id}`, label: `${item.users}` };
      });
      console.log('this.listUser');
      console.log(this.listUser);
    });

    listarSede().then(response => {
      console.log(response);
      // this.users = response;
      this.optionsSede = response.map(item => {
        // return { value: `value:${item.id}`, label: `label:${item.users}` };
        return { value: `${item.id}`, label: `${item.sede}` };
      });
      console.log('this.optionsSede');
      console.log(this.optionsSede);
    });
  },
  methods: {
    /* fetchData() {
      this.listLoading = true;
      fetchList().then(response => {
        this.list = response.data.items;
        console.log(this.list);
        this.listLoading = false;
      });
    }, */

    fetchData() {
      console.log(this.value2[0]);
      console.log(this.value2[1]);
      console.log(this.valueUser);
      console.log(this.valueSede);
      this.listLoading = true;
      const params = {
        report: true,
        inicio: this.value2[0],
        fin: this.value2[1],
        users: this.valueUser,
        sedes: this.valueSede,
      };
      fetchList(params).then((response) => {
        this.list = response.data.items;
        console.log('this.list');
        console.log(this.list);
        this.listLoading = false;
      });
    },

    handleDownload() {
      this.downloadLoading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        // const tHeader = ['Id', 'Title', 'Author', 'Readings', 'Date'];
        // const filterVal = ['id', 'title', 'author', 'pageviews', 'display_time'];
        const tHeader = [
          'Id',
          'Nombres',
          'A. Paterno',
          'A. Materno',
          'Tipo',
          'Fecha',
          'Sede',
          'Lugar',
        ];
        const filterVal = [
          'id',
          'nombres',
          'paterno',
          'materno',
          'tipo',
          'created_at',
          'sede',
          'lugar',
        ];
        const list = this.list;
        const data = this.formatJson(filterVal, list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: this.filename,
          autoWidth: this.autoWidth,
          bookType: this.bookType,
        });
        this.downloadLoading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) =>
        filterVal.map((j) => {
          console.log(v[j]);
          if (j === 'timestamp') {
            return parseTime(v[j]);
          } else {
            return v[j];
          }
        })
      );
    },
    remoteMethod(query) {
      if (query !== '') {
        this.loadingUser = true;
        setTimeout(() => {
          this.loadingUser = false;
          this.optionsUser = this.listUser.filter(item => {
            return item.label.toLowerCase()
              .indexOf(query.toLowerCase()) > -1;
          });
        }, 200);
      } else {
        this.options = [];
      }
    },
  },
};
</script>

<style>
.radio-label {
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  padding: 0 12px 0 30px;
}
</style>
