<template>
  <div class="app-container">
    <upload-excel-component :on-success="handleSuccess" :before-upload="beforeUpload" />
    <el-alert
      v-if="respuesta != ''"
      :title="respuesta"
      type="success" />
    <el-table :data="tableData" border highlight-current-row style="width: 100%;margin-top:20px;">
      <el-table-column v-for="item of tableHeader" :key="item" :prop="item" :label="item" />
    </el-table>
  </div>
</template>
<script>
import UploadExcelComponent from '@/components/UploadExcel/index.vue';
import { loadAssists } from '@/api/assist';
export default {
  name: 'UploadExcel',
  components: { UploadExcelComponent },
  data() {
    return {
      tableData: [],
      tableHeader: [],
      respuesta: '',
    };
  },
  methods: {
    beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1;

      if (isLt1M) {
        return true;
      }

      this.$message({
        message: 'Por favor no cargar archivos más grandes de 1MB de tamaño.',
        type: 'warning',
      });
      return false;
    },
    handleSuccess({ results, header }) {
      this.tableData = results;
      this.tableHeader = header;
      console.log(this.tableData);
      console.log(this.tableHeader);
      loadAssists(this.tableData)
        .then(data => {
          console.log(data);
          this.respuesta = data.mensaje;
        });
    },
  },
};
</script>
